/* You can add global styles to this file, and also import other style files */
@import "_variables.scss";
@import "../../node_modules/bootstrap/scss/bootstrap";

@font-face {
  font-family: $primary-type;
  src: url("../assets/font/Arsenal-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

body {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: $primary-type;
  }

  p {
    font-family: $secondary-type;
  }

  background-color: $body-background-light;
}

a {
  text-decoration: none;
  color: $barkbrown;
  a:link {
    color: inherit;
  }
  a:hover {
    font-weight: medium;
    text-decoration-line: underline;
    text-decoration-color: $sage-green;
  }
}

.btn {
  border-radius: 0;
  &:disabled {
    background-color: inherit;
    color: inherit;
    cursor: not-allowed;
  }

  &.btn-primary,
  &:not(disabled) {
    background-color: transparent;
    color: $barkbrown;
    outline: $button-outline solid 2px;
    border: $barkbrown;
    &:hover,
    &:active,
    &:focus-within,
    .show,
    &:not(disabled) {
      font-weight: bold;
      background-color: $white;
      color: $barkbrown;
      border-color: $pink;
      box-shadow: $pink 0 0 1 2px;
    }
  }

  &.btn-secondary {
    background-color: $secondary-button-fill;
    color: $stone-gray;
    outline: $webfriendlygray solid 2px;
  }
  &:hover,
  &:active,
  .show,
  &:not(disabled) {
    font-weight: bold;
    color: $white;
    background-color: $darktealgreen;
  }
}

pre,
code,
kbd,
samp {
  color: inherit;
  background-color: inherit;
}
